<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
<!--    取别名-->
    <typeAliases>
        <package name="com.icss.pojo"/>
    </typeAliases>
<!--    environment:配置数据库连接环境信息，可以配置多个environment，通过default属性切换不同的environment-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
<!--            POOLED  使用数据连接池-->
            <dataSource type="POOLED">
<!--                数据库连接信息-->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        加载sql映射文件-->
<!--        <mapper resource="com/icss/mapper/UserMapper.xml"/>-->
<!--        Mapper代理方式-->
        <package name="com.icss.mapper"/>
    </mappers>
</configuration>